[Unit]
Description=Load the Vault CA certificate into trust CA store
Requires=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/root/vault-ca.sh
User=root
Group=root
TimeoutStartSec=30
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
